@page
@model Info.Pages.LoginModel

<h1>@ViewData["Title"]</h1>

<div class="form-container">
    <div class="login-container">
        <h2 style="text-align:center">Login to keep in the Loop</h2>

        <h1>Login</h1>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error:</strong> Invalid username or password. Please try again.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

<form method="post">
    <!-- Hidden fields for returnUrl and topic -->
    <input type="hidden" name="returnUrl" value="@HttpContext.Request.Query["returnUrl"]" />
    <input type="hidden" name="topic" value="@HttpContext.Request.Query["topic"]" />

    <label asp-for="Input.Username"><b>Username</b></label>
    <input asp-for="Input.Username" placeholder="Enter Username" required />
    <span asp-validation-for="Input.Username" class="text-danger"></span>

    <label asp-for="Input.Password"><b>Password</b></label>
    <input asp-for="Input.Password" type="password" placeholder="Enter Password" required />
    <span asp-validation-for="Input.Password" class="text-danger"></span>

    <button type="submit" class="loginbtn">Login</button>
            <a class="blue-button" href="/Register?returnUrl=@HttpContext.Request.Query["returnUrl"]&topic=@HttpContext.Request.Query["topic"]">Register</a>
            <a href="#" style="color:blue" class="btn">Forgot password?</a>

</form>
</div>

    <div class="register-text">
        <p>Don’t have an account? <a href="/Register?returnUrl=@HttpContext.Request.Query["returnUrl"]&topic=@HttpContext.Request.Query["topic"]">Register here</a></p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
